<h1> I love tacos!</h1>
<p>There are so many delicious tacos!</p>

<%
    fillings = ["carnitas", "tofu", "chicken"]
%>

<p>Currently, there are <%= fillings.count%> kinds of tacos:</p>


<ul>
    <li>carnitas
    <li>tofu
    <li>chicken
</ul>